@page
@using ClashOfClans.Pages.Model
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div id="app"></div>


@{
    var totalDonation = (double) Model.ClanDetails.MemberList.Sum(m => m.Donations);
    var totalDonationReceived = (double) Model.ClanDetails.MemberList.Sum(m => m.DonationsReceived);
}
