@page
@using ClashOfClans.Pages.Model
@model IndexModel
@{
    ViewData["Title"] = "";
}

<style>
    .about { display: flex; }

    .user-details { margin: 8px 0; }

    .user-details a { color: yellow; }

    .user-details a:visited { color: yellow; }
</style>

<div id="app"></div>


@{
    var totalDonation = (double) Model.ClanDetails.MemberList.Sum(m => m.Donations);
    var totalDonationReceived = (double) Model.ClanDetails.MemberList.Sum(m => m.DonationsReceived);
}
