@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="block">@Model.Description</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">Привет!</div>
<div class="block">РоЗоВыЙ СлОнИк!</div>

<div style="height: 5000px"></div>
